Package: com.ckosmic.wireicons
Name: WireIcons
Depends: firmware (>=13.0), mobilesubstrate, org.thebigboss.libcolorpicker
Version: 0.2.0
Architecture: iphoneos-arm
Description: Customizable border around app icons.
Maintainer: Christian Kosman <support@tripleaxis.net>
Author: Christian Kosman <support@tripleaxis.net>
Section: Tweaks
Depiction: https://ckosmic.github.io/repo/depictions/?p=com.ckosmic.wireicons
